@import "./normalize.css";

/* Fonts
   ========================================================================== */


@font-face {
  font-family: 'silkaregular';
  src: url('./fonts/silka-regular-webfont.eot');
  src: url('./fonts/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/silka-regular-webfont.woff2') format('woff2'),
       url('./fonts/silka-regular-webfont.woff') format('woff'),
       url('./fonts/silka-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silkasemibold';
  src: url('./fonts/silka-semibold-webfont.eot');
  src: url('./fonts/silka-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/silka-semibold-webfont.woff2') format('woff2'),
       url('./fonts/silka-semibold-webfont.woff') format('woff'),
       url('./fonts/silka-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Fonts
   ========================================================================== */

   body {
    font-family: "silkaregular", "Fira Sans", "Helvetica Neue", sans-serif;
  }

:root {
  --background-body: #ffffff;
  --background-gray: #e5f0ee;
  --background-blue: #3ecfaf;
  --blue-md: #ebedff;
  --blue-sky: #3948ff;
  --gray-light: #eaeaea;
  --green-gray: #5b6866;
  --green-jungle: #012d26;

  --color-shadow-large: 0 8px 24px rgba(140, 149, 159, 0.2);

  --container-width: 942px;
}
